@import url('./style.css');

:root {
    --text-main: #333136;
    --main: #E7816B;
    --accent1: #1D1C1E;
    --accent2: #979797;
    --accent3: #FFFFFF;
    --accent4: #f1e5e1;
    --acent5: #FDF3F0;
}

.banner.section-indent.child-page  {
    height: 252px;
    text-align: center;
}


.banner-content {
    margin: auto;
    display: flex;
    justify-content: center;
}

.banner-content > * {
    width: 70%;
}

.tab-text {
    display: flex;
    align-items: center;
}
.bnr-title {
    margin: 0;
}

.banner-content p {
    margin-top: 2.4rem;
}

.projects-section-wrapper {
    display: flex;
    width: 80%;
    margin: auto;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 5%;
    margin: auto;
    
}

.projects-section::after {
    content: "";
    flex: 2 1 350px;
    /* flex: auto; */
    gap: 5%;
    flex-wrap: wrap;
    padding: 2%;
    /* justify-content: space-between; */
    /* width: 100%; */
    margin: auto;
    /* flex-wrap: wrap;
    gap: 3rem; */
    
}

.project-cards-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;  
    
}

/* .project-cards-container::after {
    content: " ";
    flex: auto; 
    flex: 0 1 350px;
    
} */

.projects-section > * {
    /* flex-basis: 350px; */
    /* flex-grow: 10; */
    /* flex-grow: 0; */
    /* margin: auto; */
}

/* .group-2 {
    justify-content: flex-start;
} */

.projects-container {
    margin: 0;
    
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.project-card-container {
    display: flex;
    flex: 2 1 350px;
    justify-content: center;
    padding: 2%;
    /* gap: 5%; */
}

.project-card {
  display: flex;  
  flex-direction: column;
  border-radius: 2rem;
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: magenta; */
  /* flex: auto; */
  flex: 0 1 350px;
  overflow: hidden;
  max-width: 350px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex: 1 0 350px;
}

.project-card img{
    height: 320px;
    width: 100%;
    border: none;
}

.project-text {
    height: 128px;
    text-align: center;
    background-color: var(--accent4);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-text > * {
    margin: 0;
    width: 80%;
}

.project-text h3 {
    /* font-size: 2rem; */
    color: var(--main);
    letter-spacing: .5rem;
}

.project-text p {
    margin-top: 1.6rem;
    line-height: 2.5rem;
}

.small-service-container {
    flex-direction: row;
    flex: 0 0 541px;
    gap: 2rem;
}

.service-item.sm {
    height: 308px;
    width: 541px;
    /* display: none !important; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.inner-page {
    height: 308px;
    /* width: 541px; */
    flex: 0 0 541px;
}

/* About Us Page */

.about-us.split-card-section {
    margin-top: 6.4rem;
}


.split-card-section {
    display: flex;
}

.split-card-content {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    height: 480px;
}

.split-text-wrapper {
    display: flex;
    background-color: var(--main);
    position: relative;
    color: var(--accent3);
}

.split-text-img {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    /* width: 60%; */
    /* height: 100%; */
    opacity: 40%;
}

.split-text {
    flex: 1 0 58%;
    margin: auto 15%;
    display: flex;
    flex-direction: column;
    
}

.about-us .split-img {
    background: url('./images/about/desktop/image-about-hero.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 43%;
}

/* Talent Card */

.talent.split-card-section {
    margin-top: 16rem;
}

.talent .split-card-content {
    height: 650px;
}

.talent .split-text-wrapper {
    background-color: var(--acent5);
}

.talent h2 {
    color: var(--main)
}

.talent p {
    color: var(--text-main);
}

.talent img {
    opacity: 90%;
    left: 0;
}

.talent .split-img {
    background: url('./images/about/desktop/image-world-class-talent.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.real .split-img {
    background: url('./images/about/desktop/image-real-deal.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


