@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Jost', sans-serif;
}

:root {
    --text-main: #333136;
    --main: #E7816B;
    --accent1: #1D1C1E;
    --accent2: #979797;
    --accent3: #FFFFFF;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-size: 10px;
    color: var(--text-main);
}

body {
    font-size: 1.6rem; 
}

h2 {
    font-size: 4.8rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
}

h3 {
   font-size: 2rem;
   font-weight: 500;
   line-height: 2.6rem; 
   letter-spacing: .5rem;
}

h4 {
    font-size: 2rem;
}

button {
    transition: all .25s ease;
    border: none;
    border-radius: 1rem;
    width: 15.2rem;
    height: 5.6rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    cursor: pointer;
}

button:hover {
    transition: all .25s ease;
    background-color: var(--accent1);
    color: var(--accent3);
}

.header {
    margin-top: 6.4rem;
}

.menu-container {
    position: relative;
}

.menu-item::after {
    content: " ";
    display: block;
    transition: width .25s ease;
    /* height: 10rem; */
    width: 0;

    /* border-bottom: 1px solid black; */

    /* position: absolute; */
}


.menu-item:hover::after {
    content: " ";
    display: block;
    transition: width .25s ease;
    /* height: 10rem; */
    width: 100%;
    border-bottom: .1rem solid var(--accent1);
}

.section-indent {
    width: 80%;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    gap: 4rem;
}

.menu-item {
    text-decoration: none;
    color: var(--text-main);
       
}

.banner {
    margin-top: 6.7rem;
    background-color: var(--main);
    height: 640px;
    border-radius: 1rem;
    color: var(--accent3);
    display: flex;
    position: relative;
}

.bnr-content {
    margin: 0 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bnr-text {
    width: 50%;
}

.bnr-cta {
    margin-top: 4rem;
}

.bnr-img {
    position: absolute;
    width: 23%;
    bottom: 0;
    right: 0;
}

.bnr-circle {
    position: absolute;
    width: 60%;
    top: 0;
    right: 0;
}

.services {
    display: flex;
    justify-content: center;
    margin-top: 16rem;
    gap: 3rem;
}

.service-item {
    transition: all .3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    cursor: pointer;
}

.service-item:hover {
    transition: all .3s ease;
    border: .2rem solid var(--main);
    opacity: 75%;
    transform: translateY(-1rem);
}

.service-item-big {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 541px;
    background-repeat: no-repeat;
 }

 #service-web-design {
    background-image: url(/images/image-web-design-large.jpg);
 }

.card-text {
    position: relative;
    color:var(--accent3);
    text-align: center;
}

.card-title {
   margin: 0; 
}

.card-text .subtitle{
    letter-spacing: .3rem;
}

.card-overlay {
    background-color: var(--accent1);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 80%;
    border-radius: 1rem;
}

/* .card-overlay:hover {
    background-color: var(--main);
} */

.subtitle-container {
    display: flex;
    margin: auto;
    justify-content: center;
    
}

.subtitle::after {
    content: "";
    background-image: url('/patterns-icons/icon-right-arrow.svg');
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 1rem;
    bottom: 1.2rem;
}

.card-arrow {
    display: inline;
}

.small-service-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-item + .sm {
    height: 308px;
    width: 541px;
}

#service-app-design {
    background-image: url('/images/home/desktop/image-app-design.jpg');
    height: 308px;
 }

 #service-graphic-design {
    background-image: url('/images/home/desktop/image-graphic-design.jpg');
    height: 308px;
 }

.features-container {
    margin-top: 16rem;
}

.features {
    display: flex;
    gap: 3rem;
}
 .feature-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 33%;
}

 .feature-img-box {
    border-radius: 50%;
    max-width: 20.2rem;
    max-height: 20.2rem;
    margin: auto;

}

.feature-img-bg {
    width: 20.2rem;
    height: 20.2rem;
    background-color: var(--main);
    opacity: 20%; 
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.footer-container {
    color: var(--accent3);
    margin-top: 16rem;
}

.footer-container h3{
    font-size: 4rem;
    line-height: 4rem;
    
}

.footer-top-tab-container {
    transform: translateY(25%);
}

.footer-top-tab {
    background-color:var(--main);
    border-radius: 1rem;
    display: flex;
    padding: 10rem 9rem;
    position: relative;
}

.footer-top-tab-overlay {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 30%;
}

.tab-text {
    display: flex;
    flex-direction: column;
}

.tab-col {
    width: 50%;
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
}

.tab-col p, .tab-col h3 {
    margin: 1rem;
}

.footer {
    height: 393px;
    margin: 0 !important;
    background-color: var(--accent1);
    color: var(--accent3);
}


.footer-main-container {
    padding-top: 14rem;
    color: var(--accent3);

}

.footer-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--accent3);
}

.footer-menu a {
    color: var(--accent3);
}


.footer-divider {
    margin: 3rem auto;
    color: var(--accent2);
    border: none;
    border-bottom: .01rem solid;
}

.footer-menu-row .bottom, .address, .contact {
    color: var(--accent2);
}

.address p, .address h4, .contact h4 {
    margin: 0;
    line-height:2.8rem;
}

.social {
    display: flex;
    margin: auto 0;
    gap: 1rem;
}

.footer-cta:hover {
    transition: all .25s ease !important;
    background-color: var(--accent1) !important;
    color: var(--accent3) !important;
}







