@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Jost', sans-serif;
}

:root {
    --text-main: #333136;
    --main: #E7816B;
    --accent1: #1D1C1E;
    --accent2: #979797;
    --accent3: #FFFFFF;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-size: 10px;
    color: var(--text-main);
    animation: fadein .25s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    font-size: 1.6rem;
}

input,
textarea {
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4.8rem;
    font-weight: 300;
}

h2 {
    font-size: 4.8rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: .5rem;
}

h4 {
    font-size: 2rem;
}

button {
    transition: all .25s ease;
    border: none;
    border-radius: 1rem;
    width: 15.2rem;
    height: 5.6rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    cursor: pointer;
}

button:hover {
    transition: all .25s ease;
    background-color: var(--accent1);
    color: var(--accent3);
}



.header {
    margin-top: 6.4rem;
}

/* a {
    cursor: pointer;
}
.logo-container {
    cursor: pointer;
} */
.menu-container {
    position: relative;
}

.menu-item::after {
    content: " ";
    display: block;
    transition: width .25s ease;
    /* height: 10rem; */
    width: 0;

    /* border-bottom: 1px solid black; */

    /* position: absolute; */
}


.menu-item:hover::after {
    content: " ";
    display: block;
    transition: width .25s ease;
    /* height: 10rem; */
    width: 100%;
    border-bottom: .1rem solid var(--accent1);
}

.section-indent {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    gap: 4rem;
}

.menu-item {
    text-decoration: none;
    color: var(--text-main);

}

.banner {
    margin-top: 6.7rem;
    background-color: var(--main);
    height: 640px;
    border-radius: 1rem;
    color: var(--accent3);
    display: flex;
    position: relative;
}

.bnr-content {
    margin: 0 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.bnr-text {
    width: 50%;
}

.bnr-title {
    line-height: 4.8rem;
}

.bnr-cta {
    margin-top: 4rem;
}

.bnr-img {
    position: absolute;
    width: 284px;
    bottom: 0;
    right: 0;
}

.bnr-circle {
    position: absolute;
    width: 60%;
    top: 0;
    right: 0;
}

.services {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0; */
    margin-top: 16rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.services>* {
    flex: 1 2 32%;
}

.service-item {
    transition: all .3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    cursor: pointer;
    flex: 0 0 541px;
}

.service-item:hover {
    transition: all .3s ease;
    border: .2rem solid var(--main);
    opacity: 75%;
    transform: translateY(-1rem);
}

.service-item-big {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    /* width: 541px; */
    /* flex: 1 1 auto; */
    background-repeat: no-repeat;
}

#service-web-design {
    background-image: url('/images/image-web-design-large.jpg');
}

.card-text {
    position: relative;
    color: var(--accent3);
    text-align: center;
}

.card-title {
    margin: 0;
}

.card-text .subtitle {
    letter-spacing: .3rem;
}

.card-overlay {
    background-color: var(--accent1);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 80%;
    border-radius: 1rem;
}

/* .card-overlay:hover {
    background-color: var(--main);
} */

.subtitle-container {
    display: flex;
    margin: auto;
    justify-content: center;

}

.subtitle::after {
    content: "";
    background-image: url('/patterns-icons/icon-right-arrow.svg');
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 1rem;
    bottom: 1.2rem;
}

.card-arrow {
    display: inline;
}

.small-service-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    gap: 3rem;
    align-items: flex-end;
}

.small-service-container.child-pg {
    flex: auto;
    justify-content: center;
}

.small-service-container a, .service-graphic-design a {
    width: 100%;
}

.service-item .sm {
    /* height: 308px;
    flex: 1 1 308px; */
}

.service-item-small {
    height: 308px;
    /* width: 541px; */
    /* flex: 1 1 auto; */
    /* flex: 0 0 50%; */
    /* max-width: 541px; */
    flex: 0 0 308px;
    width: 541px;
}


#service-app-design {
    background-image: url('./images/home/desktop/image-app-design.jpg');
    height: 308px;
}

#service-graphic-design {
    background-image: url('./images/home/desktop/image-graphic-design.jpg');
    height: 308px;
}


.features-container {
    margin-top: 16rem;
}

.features {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-width: 33%; */
    flex: 0 1 350px;
}

.feature-img-box {
    border-radius: 50%;
    max-width: 20.2rem;
    max-height: 20.2rem;
    margin: auto;

}

.feature-img-bg {
    width: 20.2rem;
    height: 20.2rem;
    background-color: var(--main);
    opacity: 20%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.footer-container {
    color: var(--accent3);
    margin-top: 16rem;
}

.footer-container h3 {
    font-size: 4rem;
    line-height: 4rem;

}

.footer-top-tab-container {
    transform: translateY(25%);
}

.footer-top-tab {
    background-color: var(--main);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 9rem;
    position: relative;
    gap: 1rem;
}

.footer-top-tab>* {
    flex: 1 1 49%;
    margin: auto;
}

.footer-top-tab-overlay {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 30%;
}

.tab-text {
    display: flex;
    flex-direction: column;
}

.tab-col {
    width: 50%;
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
}

.tab-col p,
.tab-col h3 {
    margin: 1rem;
}

.footer {
    height: 393px;
    margin: 0 !important;
    background-color: var(--accent1);
    color: var(--accent3);
}


.footer-main-container {
    padding-top: 14rem;

    color: var(--accent3);

}

.footer-menu {
    display: flex;
    /* flex-direction: row; */
    gap: 4.2rem;
    flex-wrap: wrap;
    flex: 1 0 50%;
    justify-content: flex-end;
}

.footer-menu>* {
    flex: auto 12rem;
}


.footer-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--accent3);

}

.footer-menu a {
    color: var(--accent3);
}


.footer-divider {
    margin: 3rem auto;
    color: var(--accent2);
    border: none;
    border-bottom: .01rem solid;
}

.footer-menu-row.bottom {
    margin-bottom: 5rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-menu-row.bottom > *{
    flex: 1 1 31%;

}

.footer-menu-row .bottom,
.address,
.contact {
    color: var(--accent2);
}

.address p,
.address h4,
.contact h4 {
    margin: 0;
    line-height: 2.8rem;
}

.social {
    display: flex;
    margin: auto 0;
    gap: 1rem;
    justify-content: flex-end;
}

.footer-cta:hover {
    transition: all .25s ease !important;
    background-color: var(--accent1) !important;
    color: var(--accent3) !important;
}

.tab-cta {
    z-index: 10;
}

.mobile-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    visibility: hidden;
}

.mobile-menu>* {
    flex: 1 0 100%;
}

.m-button-conatiner {
    display: none;
    margin: 3.5rem auto;

}

.menu-modal {
    background: var(--accent1);
    color: white;
    width: 100%;
    transition: opacity .25s ease;
    opacity: 0;
    visibility: hidden;
}

.active .modal-bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--accent1);
    opacity: .4;
}

.modal-text {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    color: white;
    z-index: 20;
    margin: 4.8rem auto;
}

.m-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--accent3);
    width: fit-content;
    margin: 0;
    font-size: 2.4rem;
    letter-spacing: .4rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.menu-button {
    cursor: pointer;
}

/*  RESPONSIVE MEDIA QUERIES */

/* DESKTOP SMALL */

@media screen and (max-width: 1100px) {
    .main-banner-container {
        overflow: hidden;
    }

    .banner {
        height: 843px;
    }

    .bnr-text {
        margin-top: 4rem;
        margin-bottom: auto;
        width: 85%;
        /* gap: 2rem; */
    }

    .bnr-text>* {
        margin: 1rem 0;
    }

    .bnr-title {
        margin-bottom: 3rem;
    }

    .bnr-content {
        text-align: center;
        flex-direction: column;
    }

    .bnr-circle {
        top: 9%;
    }

    .bnr-img {
        right: initial;
        bottom: -15%;
    }

    .services>* {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .service-item,
    .sm.service-item-small {
        height: 200px !important;
        flex: 1 1 100%;
    }

    #service-web-design {
        background-image: url('./images/web-design-tablet.jpg');
    }

    #service-app-design {
        background-image: url('./images/app-design-tablet.jpg');
    }

    #service-graphic-design {
        background-image: url('./images/graphic-design-tablet.jpg');
    }

    .footer-menu-row {
        margin-top: 2rem;
    }
}

/* TABLET */

@media screen and (max-width: 1024px) {
    .bnr-content {
        margin: 0 0;
        margin-top: 5rem;

    }

    .bnr-title {
        font-size: 3.8rem;
        line-height: 3.8rem;

    }

    .bnr-img {
        right: initial;
        bottom: -15%;
    }

    .footer-menu-row.bottom > * {
        flex: 1 1 15%;
    }

    .footer {
        height: 423px;
    }
    
    .footer-menu-row {
        margin-top: 2rem;
    }

}

/* PHONE */

@media screen and (max-width: 767px) {

    .section-indent {
        width: 88%;
    }
    
    .mobile-menu {
        visibility: visible;
    }

    .header {
        display: none;
    }

    .content {
        padding-top: 20rem;
    }

    .mobile-bnr {
        background: white;
    }

    .m-button-conatiner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 9.6rem;
        z-index: 2;

    }

    .menu-modal.active {
        opacity: 1;
        visibility: visible;
        transition: opacity .25s ease;
    }

    .bnr-content {
        margin: 0;
    }

    .bnr-text>* {
        margin: 0;
    }

    .bnr-title {
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 2rem;
    }

    .bnr-subtitle {
        font-size: 1.5rem;

    }

    .services > * {
        flex: 1 1 100%;
        width: 80%;
    }

    .footer {
        height: 1005px;
        display: flex;
    }

    .footer-top-tab {
        text-align: center;
        padding: 2.4rem;
        min-height: 379px;
        gap: 3rem;
    }

    .tab-title {
        font-size: 3.2rem !important;
        line-height: 3.6rem;
        margin: 6.4rem 3rem;
    }

    .footer-top-tab-container {
        transform: translateY(50%);
    }

    .footer-main-container.section-indent * {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }

    .social {
        flex-direction: row !important;
        margin: 3rem auto;
    }
    
    .footer-menu-row {
        margin-top: 2rem;
    }

    .tab-cta.tab-col {
        justify-content: center;
    }
}